In [ ]:
#Social_Network_Ads.csv

**Importing the libraries**

In [81]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import confusion_matrix

**Importing the dataset**

In [76]:
df=pd.read_csv("Social_Network_Ads.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [77]:
df.drop(columns="User ID",inplace=True)
df["Gender"]=df["Gender"].map({"Male":1,"Female":0})
df.head()

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       0   26            43000          0
3       0   27            57000          0
4       1   19            76000          0

**Splitting the dataset into the Training set and Test set**

In [78]:
X=df[["Gender","Age","EstimatedSalary"]]
y=df["Purchased"]
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25)

**Fitting Random Forest to the Training set**

In [79]:
rf = RandomForestClassifier(n_estimators= 100, max_depth = 2, max_features='sqrt')
rf.fit(X_train, y_train)
y_pred=rf.predict(X_test)
#print(rf.score(X_test,y_test))
print(accuracy_score(y_pred,y_test))

0.89

**Predicting the Test set results**

In [80]:
y_pred = rf.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0], dtype=int64)

#### Feature Importance

In [61]:
importances = list(rf.feature_importances_)
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(list(df.columns), importances)]
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances];

Variable: Age                  Importance: 0.53
Variable: EstimatedSalary      Importance: 0.47
Variable: Gender               Importance: 0.01

**Making the Confusion Matrix**

In [82]:
confusion_matrix(y_test,y_pred)

array([[62,  7],
       [ 4, 27]], dtype=int64)